<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<ul>
			<li><%=link_to "Home", root_path %></li>
		  <% unless logged_in? %>
			<li><%=link_to "Log in", login_path %></li>
		  <% else %>
			<li><%=link_to "Log out ( #{current_user.name} )", logout_path %></li>
		  <% end %>
		</ul>
	</header>

	<% flash.each do |message_type, message| %>
	  <div ><%= message %></div>
	<% end %>

	<%= yield %>

</body>
</html>
